
body {
    background-color: steelblue;
}

h1 {
    color: yellow;
    font: italic 150px fantasy;
    text-align: center;
    background-color: black;
    border: 10px solid green;
}

h2 {
    color: yellow;
    font: italic 75px fantasy;
    text-align: left;
}





button {
    background-color: black;
    color: yellow;
    border: 5px solid green;
    font: helvetica 15px fantasy;
    margin-top:-50px; 
}



.row{
    display:-ms-flexbox; 
    display:flex; 
    -ms-flex-wrap:wrap; 
    flex-wrap:wrap;; 
    padding: 0 4px; 
}
.column{
    -ms-flex:25%; 
    flex:25%; 
    max-width:25%; 
    padding:0 4px; 

}

.colum img{
    margin-top: 8px; 
    vertical-align:middle; 
    width:100%; 
}

img{
    padding:5px; 
}

.pic{
    background-color:black; 
    border:10px solid green; 
}



