body
{
    background-color:steelblue; 
}

h1{
    color: yellow; 
    font: italic 150px fantasy; 
    text-align: center; 
    background-color:black; 
    border: 10px solid green; 
}

h2{
    color:yellow; 
    font:italic 75px fantasy; 
    text-align:left; 
}

p{
    color:yellow;
    font: italic 15px helvetica; 
}

table, th, td{
    color: yellow; 
    font: italic 15px fantasy; 
  border:1px solid green;
   background-color: black; 
  padding: 10px;
  width:70%; 
}
#vaultBoy{
    float:right; 
    margin-left:10px; 
}

button {
    background-color: black;
    color: yellow;
    border: 5px solid green;
    font: helvetica 15px fantasy;
}
#1{
    color:yellow; 
}



