body {
    background-color:steelblue;

}
h1 {
    color: #FFC200; 
    font: italic 150px fantasy;
    text-align: center;
}


ul{
     
    list-style-type:none; 
    margin:10%; 
    padding:0; 
}


#logo {
    margin-top: -20%; 
}

a:active, a:link{
    color: yellow; 
}

a:hover, a:focus{
    color: steelblue; 
}



#menu {

    display: block;
    background-color: #FFC200;
    color: steelblue;
    position: relative;
    bottom: 60px;
    font: italic 50px fantasy;

    
}







    




