body {
    background-color:steelblue;

}
h1 {
    color: yellow;
    font: italic 150px fantasy;
    text-align:center; 
}


ul{
     
    list-style-type:none; 
    margin:10%; 
    padding:0; 
}

li a {

<<<<<<< HEAD
h2 {
    color: steelblue;
    position: relative;
    left: 450px;
    bottom: 60px;
    font: italic 50px fantasy;
    background-color:yellow;
=======
    color: yellow;
    font: italix 100px fantasy;
    display: block;
    width: 100px;
    height:40px; 
    background-color: #FFC200;
 
}

#logo {
    margin-top: -20%; 
}

.menu { 
    margin:auto; 
>>>>>>> c30f33c256085b7a6360b039a4c9a30b8ef37215
    
}








    




