body {
    background-color:steelblue;

}
h1 {
    color: #FFC200; 
    font: italic 150px fantasy;
    text-align: center;
}


ul{
     
    list-style-type:none; 
    margin:10%; 
    padding:0; 
}

li a {


}




h2{
   
    
 
    }

#logo {
    margin-top: -20%; 
}

#menu {

    display: block;
    background-color: #FFC200;
    color: steelblue;
    position: relative;
    bottom: 60px;
    font: italic 50px fantasy;

    
}

menu{
    margin: auto;
}







    




